body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 3px solid purple;
}
.body-color {
  background-color: #CCFFCC;
}
.container {
  width: auto;
}
/*menu bar*/
.table {
  text-align:center;
}
.table-item {
  display:inline-block;
  border:1px solid hotpink;
  width:10%;
}

div#playback{
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

iframe {
  border-color: green;
  /*overflow: hidden;*/
  padding-bottom: 20px;
}

.menu {
  text-align: center;
}
ul, li {
  display: inline;
  list-style-type: none;
}

div.col-sm-3 {
  height: 20%;
  /*width: 25%;*/
  border: 2px solid hotpink;
  background-color:burlywood;
  display: inline;
  padding: 10px;
}

.modal-contact-body{
  text-align: center;
  padding: 20px 0 20px 0;
}

.contact-modal {
  margin-top: 150px;
}
.col-xs-12, iframe {
  /*width: 90%;*/
}
/*div.col-xs-12 {
  height: 20%;
  width: 50%;
  border: 2px solid green;
  background-color:grey;
  margin-left: 25%;
  display: block;
}*/
