body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 3px solid purple;
}
div#playback{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

iframe {
  border-color: green;
  overflow: hidden;
}

ul {
  display: inline-block;
}
